<form action="/favourite" method="post">
    <button type="submit" class="bg-red-400 hover:bg-red-500 transition rounded-2xl p-4 ">Add to Favourite</button>
    <input type="hidden" name="id" value="<%= home.id %>">
</form>