<%- include('../partials/head') %>

<body>
        <%- include('../partials/nav') %>

    <main class="flex flex-col items-center justify-center gap-5">
        <h1 class="text-3xl text-red-400">Home Successfully Added!</h1>
    </main>
</body>
</html>